/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos globais */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos do conteúdo principal */
  main {
    padding: 20px;
    margin-left: 40px;
  }

  h3 {
    display: flex;
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;

    }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  img {
    display: flex;
    width: 300px;
    height: 300px;
    border: none;
    border-radius: 20%;
    margin-right: 20px;

    @media screen and (max-width: 600px) {
        width: 200px;
        height: 200px;
    }
  }
  
  ul {
    list-style-type: none;
    
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 5px;
    padding: 2px;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
    box-shadow: 0 0 0 3px #444;
    border-radius: 3px;
    background: #444;
  }
  .top-links {
    text-align: right;
  }
  
  .top-link {
    margin-left: 10px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  .top-link:hover {
    text-decoration: underline;
  }

  .sobreMim {
    display: flex;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 60%;
    margin-bottom: 40px;
    margin-left: 5%;
    
  }

  .projetos {
    display: flex;
    flex-direction: row;
    justify-items: left;
    width: 100%;
    margin-left: 5%;
}
  

  
    
  
  

    